.register {
  position: relative;
  background-image: url(../../assets/register-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  position: relative;
  padding: 20px;

  .login-form {
    margin: auto;
    max-width: 600px;
    padding: 40px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

    h1 {
      text-align: center;
      font-size: 36px;
      text-transform: uppercase;
      color: #555;
    }

    .login-form-submit{
      position: relative;

      .login-form-button {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
